<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/css/styles.css">
	</head>
	<body>

		<div class="container">

			<form action="http://www.google.com/search" class="searchform" method="get" name="searchform">
				<img src="static/images/google.png" width="350px" class="search-image"><br>
				<input autocomplete="on" class="shadow search" name="q" autocomplete="off" placeholder="Search the Web" required="required" type="text">
			</form>
		
		</div>
	
		<script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="static/js/bootstrap.min.js"></script>

	</body>
</html>