.remove-wrapper {
	position: relative;
	display: inline-block;
}

.remove {
	color: #FF2020;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

.remove:before {
	content: "X";
	font-size: 20px;
}

.new-alert {
	text-align: center;
	padding: 20px;
}

.return-link {
	@extend .link;
}

.return-link:hover {
	text-decoration: none;
	color: #0080FD;
}