/* General styles */
body {
	background-color: #000826;
}

.container {
	text-align: center;
}

.searchform input {
	width: 70vw;
	height: 40px;
}

$shadow-color: #04103B;
.shadow {
	-moz-box-shadow: 3px 3px 5px 6px $shadow-color;
  -webkit-box-shadow: 3px 3px 5px 6px $shadow-color;
  box-shadow: 3px 3px 5px 6px $shadow-color;
}

.search-image {
	padding: 40px 0px 20px 0px;
}